{% extends "base.html" %}
{% load static %}

{% block scripts %}
    <script src ="{% static 'quizzes/quiz.js' %}" defer></script>
{% endblock scripts %}

{% block title %}
{{obj.name}}
{% endblock title %}

{% block header %}
    <div class="d-flex justify-content-center align-content-center title-css">
        <span style = "text-transform: uppercase;">QUIZ : {{obj.name}}</span>
    </div>
{% endblock header %}


{% block content %}
<!-- <div class="d-flex justify-content-center">
    <div class="">
        <div class="d-flex justify-content-center">
            <h3 id="time-title">Placeholder</h3>
        </div>
        
        <div class="d-flex justify-content-center" id="timer-box"></div>
        <br>
    </div>
</div> -->

<div class="d-flex justify-content-center">
        <form id="quiz-form" class="mt-3 mb-3">
            {% csrf_token %}

            <div id="quiz-box" class="quiz-container">
                <div id="quiz-question" class="question-container">hi</div>
                <div id="quiz-answer" class="row justify-content-center answer-container"></div>
            </div>

            <div class="d-flex justify-content-center">
                <button class="btn btn-outline-dark mt-3 btn-lg next-button-css" id ="next-button">
                    <span class="d-flex justify-content-center align-items-center">
                        Next
                    </span>
                </button>
            </div>

            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-outline-dark mt-3 submit-button-css" id ="submit-button">
                    Finish
                </button>
            </div>

            <div class="mb-5 my-5 mx-5" id="explanation-tab">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link nav-tab-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#text-explanation-tab-pane" type="button" role="tab" aria-controls="text-explanation-tab-pane" aria-selected="true">
                        <i class="bi bi-info-circle"></i>
                        Text Explanation
                    </button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link nav-tab-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#video-explanation-tab-pane" type="button" role="tab" aria-controls="video-explanation-tab-pane" aria-selected="false">
                        <i class="bi bi-person-video2"></i>
                        Video Explanation
                      </button>
                    </li>
                </ul>
                  <div class="d-flex tab-content my-20px" id="myTabContent">
                    <div class="tab-pane fade show active" id="text-explanation-tab-pane" role="tabpanel" aria-labelledby="text-explanation-tab-pane" tabindex="0">
                        Hello, this is my content. A long long text. 
                    </div>
                    <div class="tab-pane fade" id="video-explanation-tab-pane" role="tabpanel" aria-labelledby="video-explanation-tab-pane" tabindex="0">
                        ...
                    </div>
                  </div>
            </div>

            <!-- <div class="d-flex justify-content-center">
                <button class="btn btn-outline-dark mt-3 next-button-css" aria-label="Arrow" id ="next-button">
                    <span class="d-flex justify-content-center align-items-center">
                        <i class="bi bi-arrow-right-short bi-arrow-right-css"></i>
                    </span>
                </button>
            </div> -->

            <!-- <div class="d-flex justify-content-center quiz-card">
                <div>
                    <div id = "quiz-box"></div>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-outline-success save-button-css" aria-label="Check" id = "save-button">
                            <span class="d-flex justify-content-center align-items-center">
                                <i class="bi bi-check-lg bi-check-css"></i>
                            </span>
                        </button>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button class="btn btn-outline-dark mt-3 next-button-css" aria-label="Arrow" id ="next-button">
                            <span class="d-flex justify-content-center align-items-center">
                                <i class="bi bi-arrow-right-short bi-arrow-right-css"></i>
                            </span>
                        </button>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-outline-dark mt-3 submit-button-css" id ="submit-button">
                            Finish
                        </button>
                    </div>
                </div>
                <br>
            </div> -->

        </form>
    <br/>
</div>


<div class="d-flex justify-content-center">
    <div>
        <br/>
        <div id="score-box"></div>
        <br/>
        <div id="result-box"></div>
        <br/>
        <button class="btn btn-outline-dark mt-3 btn-lg next-button-css" id ="home-button">
            <span class="d-flex justify-content-center align-items-center">
                Return
            </span>
        </button>

    </div>
</div>

<br>
<br>
<br>
<br>
<br>

{% endblock content %}