.not-visible {
    display: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.body-image-container {
    flex: 1;
    background-color: green;
    background-image: url('../media/7227163.jpg');
    background-attachment: fixed;
    background-size: cover; 
    overflow: auto;
}

.body-container {
    justify-content: center;
    align-items: center;
    min-height: 100%;
    /* position:absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0; */
    background-color: rgba(255, 255, 255, 0.8);

}

.navbar-css {
    font-size: 1.4rem;
}

.nav-main-link {
    position: relative;
    display: inline-block;
}
.nav-main-link::after {
    content: '';
    height: 2px;
    width: 100%;
    background-color: midnightblue;
    position: absolute;
    bottom: 1px;
    left: 0;
    opacity: 0;
    transition: opacity 0.2s;
}

.nav-main-link:hover::after {
    opacity: 1;
}

.navbar-brand {
    padding-left: 2%;
    
    color: midnightblue;
    font-size: 25px;
}

.header-css {
    flex: 0 1 auto;
    background-color: midnightblue;
    position: relative;
    top: -9px;  
    padding: 17px 0px;
}

.title-css {
    font-family: 'Arial Black';
    font-size: 3rem;
    padding-bottom: 8px;
    letter-spacing: 0.02em;
    text-align: center;
    color: white;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
    text-shadow: 4px 4px 0px lightsteelblue;
}
  
.btn {
    border-width: 1.6px; 
    font-weight: 500; 
    padding: 8px 20px; 
}

.btn-color {
    background-color: transparent;
    border-color: midnightblue;
    color: midnightblue;
}

.btn-color:hover {
    border-color: midnightblue;
    background-color: midnightblue;
    color: white;
}

.bi-arrow-right-css {
    font-size: 36px;
}
.bi-check-css {
    font-size: 30px;
}

.auth-card {
    width: 400px;
    margin-top: auto;
    margin-bottom: auto;
    /* background: #a5b8b9; */
    background-color: rgb(244, 244, 244);
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.quiz-card {
    width: 35vw;
    margin-top: auto;
    margin-bottom: auto;
    background: white;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    padding-top: 20px;
    box-shadow: 0 1px 8px 6px rgba(66, 66, 66, 0.1);
    /* -webkit-box-shadow: 0 0px 8px 6px rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0px 8px 6px rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1); */
    border-radius: 5px;
}

.quiz-box {
    margin-top: auto;
    margin-bottom: auto;
    background: white;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.question-index-button-css {
    text-align: center;
    border: 1px solid black;
    vertical-align: center;
    margin: 5px 5px;
    padding: 10px 10px;
    width: 3%;
    aspect-ratio: 1 / 1;
}

.ans-css {
    display: none;
}

.ans-css + label {
    display: inline-block;
    width: 200px;
    position: relative;
    color: black;
    font-size: 20px;
    border: 2px solid midnightblue;
    border-radius: 5px;
    padding: 10px 50px;
    display: flex;
    align-items: center;
}

.ans-css + label::before {
    display: inline-block;
    content: "";
    height: 1.2em;
    aspect-ratio: 1 / 1;
    border: 3px solid midnightblue;
    border-radius: 50%;
    margin-left: 1px;
    margin-right: 50px;
}

.ans-css:checked + label {
    background-color: midnightblue;
    color: white;
}

.ans-css:checked + label::before {
    border: 7px solid white;
    background-color: midnightblue;
}

.quiz-correct-radio + label {
    color: white;
    background-color: #1e9b61;
    border: 2px solid #198754;
}

.quiz-correct-radio + label::before {
    border: 3px solid white;
    background-color: #1e9b61;
}

.quiz-correct-radio:checked + label {
    color: white;
    background-color: #198754;
    border: 2px solid #198754;
}

.quiz-correct-radio:checked + label::before {
    border: 6px solid white;
    background-color: #198754;
} 

.quiz-incorrect-radio + label, .quiz-incorrect-radio:checked + label {
    color: white;
    background-color: #dc3545;
    border: 2px solid #dc3545;
}

.quiz-incorrect-radio + label::before {
    border: 3px solid white;
    background-color: #dc3545;
}

.quiz-incorrect-radio:checked + label::before {
    border: 7px solid white;
    background-color: #dc3545;
}

#quiz-form {
    width: 100%;
}