<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-css">
    <div class="container-fluid">
      <a class="navbar-brand mb-0 h1">
        <div>IMU</div>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'quizzes:main-view'%}">Home</a>
          </li>

          {% if user.is_authenticated %}
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'quizzes:teaching_material'%}">Teaching Material</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-boundary="viewport" data-bs-offset="0,2">
                Analysis
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'quizzes:index_line'%}">Quiz Performance</a></li>
                <li><a class="dropdown-item" href="{% url 'quizzes:index_pie'%}">Quiz Analysis</a></li>
                <li><a class="dropdown-item" href="{% url 'quizzes:index_bar'%}">Quiz Results</a></li>
                
            </ul>
        </li>
        
        <style>
        .dropdown-toggle::after {
            display: none;
        }
        </style>

          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'quizzes:logout' %}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'quizzes:login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'quizzes:register' %}">Register</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>