{% extends "base.html" %}

{% block header %}
  <div class="d-flex justify-content-center align-content-center title-css">Analysis</div>
{% endblock header %}

{% block content %}
<div style="width:75%;">
    <canvas id="myChart"></canvas> <!-- Canvas for your chart -->
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart').getContext('2d');
        var gradient = ctx.createLinearGradient(0, 0, 0, 400);
        gradient.addColorStop(0, 'rgba(255, 0,0, 0.5)');   
        gradient.addColorStop(1, 'rgba(255, 0, 0, 0.1)');

        var gradient2 = ctx.createLinearGradient(0, 0, 0, 400);
        gradient2.addColorStop(0, 'rgba(0, 255, 0, 0.5)');   
        gradient2.addColorStop(1, 'rgba(0, 255, 0, 0.1)');

  new Chart(ctx, {
      type: 'bar',
      data: {
          labels: {{labels|safe}},
          datasets: [{
              label: "Your Result",
              data: {{data|safe}},
              backgroundColor: gradient,
                borderColor: 'rgba(255,99,132,1)',
                borderWidth: 1
                


          },
          {
              label: "Expected Marks",
              data: {{compare_data|safe}},
              backgroundColor: gradient2,
                borderColor: 'rgba(75,192,192,1)',
                borderWidth: 1
                
          }]
      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
  });
</script>
{% endblock %}